Please follow the link below

[Mega Corp One Penetration Test Report
CYBERSHIELD, LLC by Uliana Nurullin](https://docs.google.com/document/d/1z8FA7f0VdvbGngINRrWuGcLKZoQABwPkmqFiXwrj_vY/edit?usp=sharing)
